<!DOCTYPE html>
<html>
  <head>
    <title>PersonalSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400, 700" rel="stylesheet">

  </head>

  <body>
  <!-- Navigation Bar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation"> 
   		<!-- Brand and toggle -->
   		<div class="container">
   			<div class="navbar-header">
   				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
   					<span class="sr-only">Toggle Navigation</span>
   					<span class="icon-bar"></span>
   					<span class="icon-bar"></span>
   					<span class="icon-bar"></span>
   				</button>
          <%= link_to root_path, class: "navbar-brand" do %>
            <i class="fa fa-id-card"></i>
            WRasada
          <% end %>
 				</div>
 				
 				<!-- End Toggle / Begin nav elements for toggling -->

 				<div class="collapse navbar-collapse" id="main-navbar">
 					<ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact Me", contactme_path %></li>
 					</ul>
 				</div> <!-- End Nav Elements -->
   		</div> <!-- close containerv -->
  	</nav>

      <div class="container"></div>
        <% flash.each do |type, msg| %>
          <%= content_tag :div, msg, class: "alert alert-#{type}" %>
        <% end %>
    <%= yield %>
  </body>
</html>
